<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="videoExt" value=".avi,.mkv,.mp4"/>
  <add key="subExt" value=".srt"/>
  <add key="logoExt" value=".png"/>
  <add key="playlistExt" value=".avi,.mkv,.mp4,.m3u"/>
  <add key="fileExtPermited" value=".avi,.mkv,.mp4,.srt,.png,.m3u"/>
</appSettings>
</configuration>